html {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Exo", sans-serif;
}
header {
	background: #b40000;
	padding: 30px 0;
	position: fixed;
	z-index: 9999;
	width: 100%;
	box-shadow: 0px 1px 6px rgba(0,0,0,.8);
}
header a {
	color: white;
	text-decoration: none;
}
header a#logo {
	float: left;
	padding-left: 30px;
}
header nav {
	float: right;
	padding-right: 30px;
}
header nav a {
	margin: 12px;
	text-transform: uppercase;
}
#content {
}
section {
	padding: 120px 5% 50px;
	text-align: center;
}
#billboard {
	background: #333;
	color: white;
	padding-bottom: 0px;
	margin-bottom: -20px;
	z-index: 1;
	position: relative;
	padding-top: 175px;
}
#billboard h1 {
	font-size: 100px;
	line-height: 1em;
	padding: 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
#subText {
	background: white;
	z-index: 2;
	position: relative;
	box-shadow: 0px -1px 6px rgba(0,0,0,.8), inset 0px 1px 0px 1px rgba(255,255,255,.1);
}
h1.sectionTitle {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: 3em;
	line-height: 1em;
	padding: 10px 35px;
	margin: 0 auto;
	width: auto;
	border-top: 2px solid;
	border-bottom: 2px solid;
}
h1.sectionTitle span {
	font-size: .4em;
	display: block;
	letter-spacing: .3em;
}
#facility {
	z-index: 3;
	position: relative;
	background: white;
	
	/*background-color: #333;
	background-image: url(../images/inflicted.png);
	background-repeat: repeat;
	color: white;
	text-shadow: 0px 2px 4px rgba(0,0,0,1);
	box-shadow: 0px 1px 6px rgba(0,0,0,.5), inset 0px -1px 0px rgba(255,255,255,.3);*/
}
#facility img#map {
	display: block;
	margin: 50px auto;
}
#facility #roomDescriptions .column {
	width: 30%;
	padding: 1.5%;
	float: left;
	text-align: left;
}

#update {
}
#mc_embed_signup {
	background:transparent;  
	position: relative;
	display: block;
	margin: 50px auto;
	height: auto;
	width: 500px;
	text-align: center;
	font-family: "Exo", sans-serif;
}
#mc_embed_signup label {
	text-align: center;
	}
#mc_embed_signup input#mce-EMAIL.email {
	background: #eee;
	font-family: "Open Sans", sans-serif;
	display: block;
	border: none;
	outline: none;
	font-size: 20px;
	line-height: 20px;
	padding: 17px 20px;
	width: 300px;
	margin: 0;
	position: absolute;
	left: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: .2s linear all;
}
#mc_embed_signup input#mce-EMAIL.email:focus {
	box-shadow: inset 0px 0px 0px 4px #333;
}
#mc_embed_signup input#mc-embedded-subscribe.button {
	position: absolute;
	font-family: "Exo", sans-serif;
	background: #c91b00;
	display: block;
	right: 0;
	font-size: 20px;
	line-height: 20px;
	padding: 20px;
	height: auto;
	width: 160px;
	margin: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-transition: .1s ease-out;
}
#mc_embed_signup input#mc-embedded-subscribe.button:hover {
	background-color: #f72200;
}


footer {
	background: #333;
	color: white;
	padding: 30px;
}
